.none{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 12px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 4px;
    font-size: 16px;
}

.active{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 12px;
    background-color:#FFD205 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 4px;
    font-size: 16px;
}

.none:hover{
    background-color:ghostwhite;
}