.container {
    background: linear-gradient(180deg, #4568DC, #B06AB3);
    width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.block {
    margin:auto;
    background-color: #FFFFFF;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.resultButton {
    display: flex;
    margin: 10px;
    justify-content: center;
}



.button{
    border-radius: 30px;
    border: 1px solid grey;
    background-color: white;
    font-weight: 300;
    font-size: 14px;
    padding: 15px 25px 15px 25px;
}

.button:hover{
    background-color: ghostwhite;
    cursor: pointer;
}
.button:active{
    background-color: #FFD205;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 90%;
    font-weight: bold;
    margin-bottom: 40px;
}

.answer {
    margin-top: 40px;
}
.error{
    font-size: 14px;
}


